<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title>Login</title>
    </head>
    <body>
        <p>Entre com seu Login:</p>
        <form method="post" th:action="@{/create}" th:object="${usuario}">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>